
  <table>
    <tr>
      <th class="menu-label">Field</th>
      <th class="menu-value">Response</th>
    </tr>
    <tr>
      <td class="menu-label">Date:</td>
      <td class="menu-value">2023-05-17</td>
    </tr>
    <tr>
      <td class="menu-label">Meals:</td>
      <td class="menu-value">Lunch</td>
    </tr>
    <tr>
      <td class="menu-label">Rice Plate:</td>
      <td class="menu-value">Basmati rice</td>
    </tr>
    <tr>
      <td class="menu-label">Subji 1:</td>
      <td class="menu-value">Paneer</td>
    </tr>
    <tr>
      <td class="menu-label">Subji 2:</td>
      <td class="menu-value">Shev</td>
    </tr>
    <tr>
      <td class="menu-label">Subji 3:</td>
      <td class="menu-value">Chole</td>
    </tr>
    <tr>
      <td class="menu-label">Rice:</td>
      <td class="menu-value">Basmati rice</td>
    </tr>
    <tr>
      <td class="menu-label">Drinks:</td>
      <td class="menu-value">Milk</td>
    </tr>
    <tr>
      <td class="menu-label">Roti:</td>
      <td class="menu-value">Chapati</td>
    </tr>
  </table>
