<section class="chirag-footer">
    <div class="dabba-container">
       <div class="dabba">
           <h3>Khaugalli <i class="fas fa-shopping-basket"></i></h3>
           <p>Follow Us On</p>
           <div class="share">
               <a href="#" class = "fab fa-facebook-f"></a>
               <a href="#" class = "fab fa-twitter"></a>
               <a href="#" class = "fab fa-instagram"></a>
               <a href="#" class = "fab fa-linkedin"></a>
           </div>
       </div>
       <div class="dabba">
           <h3>contact info</h3>
           <a href="#" class="links"><i class="fas fa-phone">+91 7720975228</i></a>
           <a href="#" class="links"><i class="fas fa-phone">+91 7720975228</i></a>
           <a href="#" class="links"><i class="fas fa-envelope"> chirag.deshpande03@gmail.com</i></a>
           <a href="#" class="links"><i class="fas fa-map-marker-alt"> Pune,India - 416008</i></a>
           </div>
           
           <div class="dabba">
               <h3>contact info</h3>
               <a href="#" class="links"><i class="fas fa-arrow-right"> Home</i></a>
               <a href="#" class="links"><i class="fas fa-arrow-right"> Features</i></a>
               <a href="#" class="links"><i class="fas fa-arrow-right"> Products</i></a>
               <a href="#" class="links"><i class="fas fa-arrow-right"> Categories</i></a>
               <a href="#" class="links"><i class="fas fa-arrow-right"> Review</i></a>
               <a href="#" class="links"><i class="fas fa-arrow-right"> Blogs</i></a>
               </div>   

               <div class="dabba">
               <h3>newsletter</h3>
               <p>Subscribe For Latest Updates</p>
               <input type="email" placeholder="Enter Your Email" class="email">
               <input type="submit" value="Subscribe" class="btn">
               <img src="./img/Paymentimg.png" class="payment-img">
           
               </div>   
    </section>