<!-- navbar-start -->
<header>
    
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./img/logo-3.png" alt="Logo" class="d-inline-block align-text-t">
        </a>
        <!-- <h2 class="display-6" id="logo-name">Khaugalli</h2> -->
    
      </div>
    </nav>
        <nav class="navbarr">
    
            <a class="active" href="./index">Home</a>
            <a href="./mess">Mess</a>
            <a href="./index#about">About</a>
            <a href="./contact">Contact</a>
            <!-- <a href="#feedback">Feedback</a> -->
            <a href="./login">Login</a>
        </nav>
    </header>
    <!-- navbar-end -->